﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ParentPackage/ParentTemplate.Master" AutoEventWireup="true" CodeBehind="ConfirmViewingRequest.aspx.cs" Inherits="e_Portfolio_System.ConfirmViewingRequest" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            font-size: x-large;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p class="auto-style1">
        Request Sent!</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
</asp:Content>
