﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StudentPackage/StudentTemplate.Master" AutoEventWireup="true" CodeBehind="SuggestionResolve.aspx.cs" Inherits="e_Portfolio_System.StudentPackage.SuggestionResolve" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">
    <asp:Label ID="lblMessage" runat="server"></asp:Label>
    <asp:HyperLink ID="lnkReturn" runat="server" NavigateUrl="~/StudentPackage/StudentViewFeedback.aspx" Visible="False">Return to Feeback</asp:HyperLink>
</asp:Content>
